{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<header class="masthead" style="background-image: url('/static/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>О нас</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>IT-школа TeachMeSkills — это новое и свежее дыхание в обучении программированию.
                    Здесь нет места скучным лекциям, нудному объяснению материала и постоянным заучиваниям.</p>
                <p>Неформальная атмосфера, молодые и талантливые менторы с многолетним опытом коммерческой разработки,
                    программы, разработанные Senior и Lead разработчиками ведущих IT компаний, а также увлекательная
                    подача информации — за это студенты и выпускники уже успели полюбить TeachMeSkills</p>
                <p>За 8 лет существования школы мы выпустили более 11500 айтишников, успешно начавших свою карьеру в IT
                    компаниях из разных стран мира.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}